/*body{*/
	background: url(image/Face_Frowning_Beard_Old_man_Glance_Black_520728_1920x1080.jpg) no-repeat center;
	/*background-size: cover;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

@media (max-width: 1016px;){
}	
@media (max-width: 768px;){
}	
@media (max-width: 480px;){
}

header img{
	position: relative;
	left: 30px;
	top: 30px;
}
label{
	font-size: 18px;
	font-family: Segoe Print, Arial, sans-serif;
	font-weight: bold;
	color: #191970;
	text-shadow: 0px 4px 2px #4169E1;
}
.fieldset{
	min-width: 18;
	max-width: 18%;
	height: 300px;
	border: 2px solid #00BFFF;
	border-radius: 5px;
	background: #00BFFF; 
	margin: 75px 20px 20px 35px;
	box-shadow: 0 0 20px 10px #4169E1;
}
input{
	width: 80%;
	height: 21px;
	background-color: #E6E6FA;
	border: 4px solid #E6E6FA;
	border-radius: 5px;
}

button{
	width: 82%;
	height: 35px;
	background: 	#191970;
	color: #E6E6FA;
	font-family: Segoe Print, Arial, sans-serif;
	font-weight: bold;
	border: 2px solid 	#191970;
	border-radius: 5px;
	margin-top: 20px;
	text-shadow: 0px 3px 2px #4169E1;
}
@keyframes phone{
	to{
		transform: scale(1.2);
	}
	
	from{
		transform: scale(1.1);
		opacity: 0.8;
	}
}
.image-phone{
width: 18%;
animation-name: phone;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-fill-mode: both;
animation-direction: alternate;
animation-timing-function: linear;
}

@keyframes boxes{
	to{
		box-shadow: 0 5px 10px 5px #9df;
	}
	from{
		
		}
}
@keyframes icon{
	to{
		transform: rotate(360deg);
	}
	from{
		
		}
}

footer li{
	animation-name: boxes;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	display: inline;
	background: #000;
	border: 4px solid #fff;
	border-radius: 5px;
	margin-left: 15px;
	position: relative;
	left: 85%;
}
footer li img{
	width: 34px;
	border-radius: 50%;
	animation-name: icon;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
